version: '3.9'

services:
  app:
    build: .
    container_name: url-shortener
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
