server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@cluster0.jpmbeze.mongodb.net/urlshortenerdb?retryWrites=true&w=majority
      database: urlshortnrdb